@import '../style/base';
$upload-prefix: v-upload;
.#{$upload-prefix}-list{
  position: relative;
  display: inline-block;
  margin-top: 10px;
  width: 300px;

  &-item{
    overflow: hidden;
    margin-top: 8px;
    font-size: 12px;

    &-info {
      height: 22px;
      line-height: 22px;
      padding: 0 4px;
      -webkit-transition: background-color .3s ease;
      transition: background-color .3s ease;
    }

    .fa-times{
      opacity: 0;
      float: right;
      cursor: pointer;
    }

    &:hover .fa-times {
      opacity: 1;
    }

    .#{$upload-prefix}-list-item-progress{
      display: none;
    }

    &.#{$upload-prefix}-list-item-loading{
      .#{$upload-prefix}-list-item-progress{
        display: block;
      }
    }
  }
}


.#{$upload-prefix}-list-text{
  .#{$upload-prefix}-list-item:hover .#{$upload-prefix}-list-item-info{
    background: #eaf8fe;
  }
}
.#{$upload-prefix}-list-image{

  .#{$upload-prefix}-list-item{
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
    height: 66px;
    position: relative;
    background: #fff;
  }

  .#{$upload-prefix}-list-item-thumbnail{
    width: 48px;
    height: 48px;
    position: absolute;
    top: 8px;
    left: 8px;
    img {
      width: 48px;
      height: 48px;
      display: block;
    }
  }

  .#{$upload-prefix}-list-item-name{
    padding-left: 48px;
    padding-right: 8px;
  }

  .#{$upload-prefix}-list-item-progress{
    padding-left: 58px;
  }

  &.#{$upload-prefix}-list-item-loading{
    border-style: dashed;
  }

  .#{$upload-prefix}-list-item-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 0 0 8px;
    line-height: 42px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    max-width: 100%;
    display: inline-block;
    box-sizing: border-box;
  }

  .#{$upload-prefix}-list-item-progress{
    position: absolute;
    top: 38px;
    left: 0;
    width: 100%;
  }

}
