@import '../style/base';
$table-prefix: v-table;
$onColor: #337ab7;
$offColor: #333;
.#{$table-prefix}{
  position: relative;

  .box{
    opacity: 1;
    min-height: 400px;
  }
  .noData{
    text-align: center;
    line-height: 100px;
  }
  .table-column-sorter{
    margin-left: 4px;
    display: inline-block;
    width: 12px;
    height: 18px;
    vertical-align: middle;
    text-align: center;
  }
  .table-column-sorter-down.off{
    border-top-color: $offColor;
  }
  .table-column-sorter-down.on{
    border-top-color: $onColor;
  }
  .table-column-sorter-up.off{
    border-bottom-color: $offColor;
  }
  .table-column-sorter-up.on{
    border-bottom-color: $onColor;
  }
  .table-column-sorter-down, .table-column-sorter-up {
    line-height: 4px;
    height: 6px;
    display: block;
    width: 12px;
    cursor: pointer;
    width: 0;
    border-top: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $offColor;
    margin-bottom: 4px;
  }
  .table-column-sorter-down{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $offColor;
    border-bottom: none;
  }
}
.#{$table-prefix}.loading {
  .box{
    opacity:0.4;
    transition: opacity .3s ease-in-out;
  }
}
