/*
  基础css
  weiluxia 2016.7.18 
*/

html,body{
  font-family: 'microsoft YaHei' !important;
}
.mt20{
  margin-top: 20px;
}
.center {
  text-align: center !important;
}
.padding-none{
	padding: 0;
}
.margin-none{
	margin: 0;
}
.hideText {
  text-indent: -999em;
  letter-spacing: -999em;
  overflow: hidden;
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.border-right {
  border-right: 1px solid #e5e5e5;
}
.border-left {
  border-left: 1px solid #e5e5e5;
}

/* 搜索 
-------------------------------------*/
.filter-bar {
  background: #f5f5f5;
  border: 1px solid #d8d9da;
  border-left: none;
  border-right: none;
  margin: 0 auto 10px;
  padding: 5px 10px;
  line-height: 30px;
  /* Desktops */
}
.filter-bar .form-group {
  margin-bottom: 5px;
}
.filter-bar label {
  font-weight: normal;
  float: left;
}

/*左侧菜单
---------------------------------------*/
.sidebar-menu a.active{
  color: #fff;
}