@import '../style/base';
$tree-prefix: v-tree;
.#{$tree-prefix}{
  background: #ffffff;
}
.#{$tree-prefix}-node{
  cursor: pointer;
  white-space: nowrap;
}
.#{$tree-prefix}-node__content{
  line-height: 36px;
  height: 36px;
  & > input {
    vertical-align: middle;
  }
  & > * {
    margin-right: 3px;
  }
  &:hover {
    background: #e5e9f2;
  }
}
.#{$tree-prefix}-node__expand-icon{
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  margin-left: 10px;
  border: 6px solid transparent;
  border-right-width: 0;
  border-left-color: #99a9bf;
  border-left-width: 7px;

  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;

  &:hover {
    border-left-color: #999;
  }

  &.expanded {
    transform: rotate(90deg);
  }

  &.is-leaf {
    border-color: transparent;
    cursor: default;
  }
}
.#{$tree-prefix}-node__loading-icon{
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #99a9bf;
  animation: loading .5s linear infinite;
}
@-webkit-keyframes loading{
  0%  {
    -webkit-transform:rotate(0deg);
  }
  100% {
    -webkit-transform:rotate(360deg);
  }
}
.#{$tree-prefix}-node__label{
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
}
.#{$tree-prefix}-node__children{
  overflow: hidden;
  background-color: transparent;
  display: none;
}
.#{$tree-prefix}-node.expanded > .#{$tree-prefix}-node__children {
  display: block;
}
.#{$tree-prefix}-node.disabled {
  color: #ccc;
  cursor: not-allowed;
}