@import '../style/base';
$menu-prefix: v-menu;
$lightBg: #fff;
$lightColor: #666;
$lightAColor: #2db7f5;
$lightABg: #eaf8fe;
$lightSubMenuBg: #fff;
$darkBg: #222d32;
$darkColor: #b8c7ce;
$darkAColor: #fff;
$darkABg: #1e282c;
$darkSubMenuBg: #2c3b41;

.#{$menu-prefix}{
  outline: none;
  padding-left: 0;
  list-style: none;
  z-index: 1050;
  box-shadow: 0 1px 6px hsla(0,0%,39%,.2);
  line-height: 46px;

  .fa{
    width: 20px;
  }
}

.#{$menu-prefix}-item, .#{$menu-prefix}-submenu{
  margin: 0;
  padding: 0 20px;
  position: relative;
  display: block;
  white-space: nowrap;
  cursor: pointer;
  &.v-menu-item-disabled,
  &.v-menu-submenu-disabled > .v-menu-submenu-title{
    &, &:hover, &>a, &>a:hover{
      color: #999 !important;
      cursor: not-allowed !important;
      background: none !important;
      border: none !important;
    }
    &>a, &>a:hover{
      pointer-events: none; // 元素永远不会成为鼠标事件的target
    }
  }
}

.#{$menu-prefix}-item > a{
  display: block;
  &:before {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
  }
}

.#{$menu-prefix}-submenu{
  padding: 0;
  .v-menu-submenu-title{
    padding: 0 20px;
  }
  & > .v-menu-submenu-menu{
    border-radius: 4px;
    padding: 0;
    margin: 0;
    box-shadow: 0 1px 6px hsla(0,0%,39%,.2);
  }
  &.v-menu-submenu-active > .v-menu-submenu-menu{
    display: block;
  }
  &-inline > .v-menu-submenu-menu{
    border-radius: 0;
    box-shadow: none;

    &.v-submenu-vertical{
      position: absolute;
      top: 0;
      left: 100%;
      min-width: 160px;
      margin-left: 4px;
      z-index: 1050;
      transform-origin: 0 0;
    }
  }
  &-horizontal > .v-menu-submenu-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1050;
    min-width: 100%;
    margin-top: 7px;
    transform-origin: 0 0;
  }
  &-vertical > .v-menu-submenu-menu {
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 160px;
    margin-left: 4px;
    z-index: 1050;
    transform-origin: 0 0;
  }
  &-vertical, &-inline {
    & .fa-angle-right {
      width: auto;
      height: auto;
      padding: 0;
      margin-top: 16px;
      float: right;
    }
  }
  &-inline>.v-menu-submenu-title .fa-angle-right{
    transform: rotate(90deg);
  }
  &-inline.v-menu-submenu-open>.v-menu-submenu-title .fa-angle-right{
    transform: rotate(-90deg);
  }
}

.#{$menu-prefix}-horizontal {
  border: 0;
  border-bottom: 1px solid #e9e9e9;
  box-shadow: none;
  z-index: 0;
  
  &>.v-menu-item, &>.v-menu-submenu{
    position: relative;
    float: left;
    z-index: 2;
    border-bottom: 2px solid transparent;
  }
  .v-menu-submenu-vertical > .v-menu-submenu-menu{
    min-width: 100%;
  }
}

.#{$menu-prefix}-inline {
  .v-menu-submenu-menu{
    & .v-menu-item, & .v-menu-submenu {
      line-height: 32px;
    }
  }
}

@mixin theme ($theme) {
  .#{$menu-prefix}-#{$theme}{
    @if $theme == 'light'{
      color: $lightColor;
      background: $lightBg;
      & a{
        color: $lightColor;
      }
    } @else {
      color: $darkColor;
      background: $darkBg;
      & a{
        color: $darkColor;
      }
    }

    &.#{$menu-prefix}-horizontal{
      &>.v-menu-item{
        &.v-menu-item-active, &:hover{
          background: if($theme == 'light', none, $darkABg);
          border-bottom: 2px solid if($theme == 'light', $lightAColor, transparent);
          transform: translateZ(0);
          &, &>a{
            color: if($theme == 'light', $lightAColor, $darkAColor);
          }
        }
      }
    }

    &.#{$menu-prefix}-vertical, &.#{$menu-prefix}-inline{
      &>.v-menu-item{
        &.v-menu-item-active, &:hover{
          &, & > a{
            @if $theme == 'dark'{
              color: $darkAColor;
            }
          }
          @if $theme == 'light'{
            background: $lightABg;
          } @else{
            background: $darkABg;
          }
        }
      }
    }

    .#{$menu-prefix}-submenu{
      &.v-menu-submenu-active > .v-menu-submenu-title, 
      .v-menu-submenu-title:hover{
        &, & > a{
          @if $theme == 'dark'{
            color: $darkAColor;
          }
        }
        @if $theme == 'light'{
          background: $lightABg;
        } @else{
          background: $darkABg;
        }
      }
      .v-menu-item{
        &:hover{
          @if $theme == 'light'{
            background: $lightABg;
          }
          &, & > a{
            @if $theme == 'dark'{
              color: $darkAColor;
            }
          }
        }
        &.v-menu-item-active{
          background: none;
          &, & > a {
            color: if($theme == 'light', $lightAColor, $darkAColor);
          }
        }
        & > a.active{
          color: if($theme == 'light', $lightAColor, $darkAColor);
        }
      }
      & > .v-menu-submenu-menu{
        background: if($theme == 'light', $lightSubMenuBg, $darkSubMenuBg);
      }
    }
  }
}
@include theme('light');
@include theme('dark');